body {
	background: url("../img/house.jpg") no-repeat center fixed #2d2e2e;
	background-size: cover;
	font-family: "Lato", sans-serif;
}

.transbox {
	background-color: rgba(20, 45, 45, 0.5);
	position: relative;
	padding: 1rem;
	max-width: 450px;
	margin: 230px auto;
	text-align: center;
}

.transbox img {
	margin: 0 auto;
	border-radius: 50%;
}

.transbox h1 {
	margin: 5%;
	color: #fff;
	font-size: 25px;
}

.transbox h2 {
	color: #fff;
	margin: 5%;
	font-size: 15px;
}

.links {
	border-top: 1px solid #fff;
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 10px 0;
	padding-top: 0.8em;
} 

.links i {
	width: auto;
	color: #fff;
}

.links i:hover {
	color: #2c6262;
}